{% load static %}
<footer class="bottom-0 left-0 top-4 z-20 w-full bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
    <img src="{% static 'images/g' %}" class="h-8 mr-3" alt="Pro Jump" />
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="./" class="mr-4 hover:underline md:mr-6">Home</a>
        </li>
        <li>
            <a href="aboutus" class="mr-4 hover:underline md:mr-6">About US</a>
        </li>
        <li>
            <a href="faq" class="mr-4 hover:underline md:mr-6">FAQ'S</a>
        </li>
        <li>
            <a href="glossary" class="mr-4 hover:underline md:mr-6">Glossary</a>
        </li>
    </ul>
</footer>