{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/predictByHeight.css' %}" />
</head>
<body>
    <script>
        function myFunction() {
            var fathervalue = parseFloat(document.getElementById("num1").value);
            var mothervalue = parseFloat(document.getElementById("num2").value);
            {% comment %} method call for prediction and update avarage {% endcomment %}
            var average = (fathervalue + mothervalue) / 2;
            var x = document.getElementById("result");
            var progressBar = document.getElementById("progressBar");
            var error = document.getElementById("error");

            progressBar.value = average;
            document.getElementById("value").textContent = average;
            if(fathervalue>3.5 || mothervalue>3.5){
                error.style.display = "block";
                x.style.display = "none";
                progressBar.style.display = "none   ";
            }
            else{
                x.style.display = "block";
                progressBar.style.display = "block";
                error.style.display = "none";
            }
        }
        </script>
{% include 'navbar.html' %}
<div class="container">
    <div class="cart">
        <div class="heading">Predict By Parents Breed</div>
        <div class="body">
            Male Horse :   
            <select id="num1" class="dropdown1">
                <option value=3>Option 1</option>
                <option value=3.5>Option 2</option>
                <option value=2.4>Option 3</option>
            </select>
        </div>
        <div class="body" class="dropdown2">
            Female Horse :   
            <select id="num2">
                <option value=2>Option 1</option>
                <option value=2.2>Option 2</option>
                <option value=3>Option 3</option>
            </select>
               <button class="button" id="ph" onclick="myFunction()">Predict</button>
        </div>
        <div id="result" class="body" style="display: none;font-size: medium;margin-bottom: 10px;">
            The predicted jumping height of the offspring of [fbreed and [mbreed] is expected to be <span id="value" style="color : green">0</span> metres.
        </div><br>
        <progress id="progressBar" value="0" max="3.5"></progress>
    </div>
</div>
<div class="footer">
    {% include 'footer.html' %}
</div>
</body>
</html>