{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/predictByName.css' %}" />
</head>
<body>

{% include 'navbar.html' %}
<div class="predict-body">
    <h5 class="heading text-2xl font-bold">Predict By parent's Breed Name</h5>
    <h3 class="mb-2 mt-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Select Father's Breed : </h3>
    <div class="select-option">
        <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>Choose a Breed</option>
        <option value="US">United States</option>
        <option value="CA">Canada</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
        </select>
    </div>

    <div class="select-option">
        <label for="cars" class="mb-2 mt-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Choose a car:</label>
        <div class="select-droup">
            <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
            </select> 
        </div>
    </div>

    <button type="button" class="btn-col">Predict</button>
    <div class=result>
        <h4 class="mb-2 mt-8 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Size will be : 1.86</h4>
        <div class="predicted-value">
            <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
                <div class="bg-blue-600 h-2.5 rounded-full dark:bg-blue-500" style="width: 45%"></div>
            </div>
        </div>
    </div>
    
</div>
<div class="footer">
    {% include 'footer.html' %}
</div>
</body>
</html>