{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/predictByHeight.css' %}" />
</head>
<body>
    <script>
        function myFunction() {
            var fathervalue = parseFloat(document.getElementById("num1").value);
            var mothervalue = parseFloat(document.getElementById("num2").value);
            {% comment %} method call for prediction and update avarage {% endcomment %}
            var average = (fathervalue + mothervalue) / 2;
            var x = document.getElementById("result");
            x.style.display = "block";
            document.getElementById("value").textContent = average;
        }
        </script>
{% include 'navbar.html' %}
<div class="container">
    <div class="cart">
        <div class="heading">Predict By Parents Height</div>
        <div class="body">
            Father's Height :   
               <input id="num1" class="inputbox" name ="fathername" type="number" min="0" step="1"style="margin-left: 40px;"/>
        </div>
        <div class="body">
            Mother's Height :   
               <input id="num2" class="inputbox" name ="mothername" type="number" min="0" step="1"/>
               <button class="button" id="ph" onclick="myFunction()">Predict</button>
        </div>
        <div id="result" class="body" style="display: none;">
            Predicted Height : <span id="value">0</span>
        </div>
    </div>
</div>
<div class="footer">
    {% include 'footer.html' %}
</div>
</body>
</html>